html {
  background-color: #f2f1ed;
  font-family: 'Patua One', cursive;
  line-height: 1.5;
}
img {
  width: 100%;
}
h1 {
  color: #5d8432;
}
a,
a:link {
  font-weight: bold;
  font-size: 1.125rem;
  color: #793284;
}
a:hover {
  font-weight: bold;
  font-size: 1.125rem;
  color: #b42885;
}
